.link {
  color: #0070f3;
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.center {
  align-items: center;
  text-align: center;
}

.btn {
  margin: 40px;
  line-height: 1.15;
  font-size: 2rem;
}

.img {
  height: 50px;
  width: 50px;
  overflow: hidden;
  margin-left: 10px;
}
